.faq-item {
    cursor: pointer;
}

.faq-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.faq-answer {
    height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
}

.faq-answer.block {
    height: fit-content;
    max-height: 500px; 
}
