.faq-answer {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 0;
  }
  
  .faq-answer.open {
    max-height: 10rem; 
    opacity: 1;
  }
  
  button {
    background: transparent;
  }
  
  button:hover {
    background: rgba(75, 85, 99, 0.5); 
  }
  
  .bg-gray-700 {
    background-color: rgba(55, 65, 81, 0.5); 
  }
  