.loading-background {
  background-image: linear-gradient(
    112deg,
    #1d2948 0%,
    #141d33 25%,
    #0f1628 38%,
    #050a16 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.loading-bg {
  background: linear-gradient(
    rgba(68,179,241,0.45) 0%,
    transparent 100%
  )
}