@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 34, 34;
  --background-end-rgb: 0, 0, 0;
}

::selection {
  background-color: rgba(212, 212, 212, 0.164);
  color: rgb(223, 240, 255);
}

@font-face {
  font-family: Clash;
  src: url("/fonts/ClashDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay.otf") format("opentype");
}

@font-face {
  font-family: DrukWide;
  src: url("/fonts/DrukWide.otf") format("opentype");
}

.font-clash {
  font-family: Clash, sans-serif;
}

.font-AtypDisplay {
  font-family: AtypDisplay, sans-serif;
}

.font-DrukWide {
  font-family: DrukWide, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #1d2948;
  background-image: linear-gradient(
    to bottom,
    #1D2948 0%,
    #050A16 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.rotation {
  animation: image-rotate 60s linear infinite;
}

@keyframes image-rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.navBorder {
  border-image-slice: 1;
  border-bottom-width: 4px;
  border-image-source: linear-gradient(45deg, #7648A4, #4844F4);
}
.navGradientBorder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  border: 4px solid transparent;
  opacity: 0.2;
  background: linear-gradient(to right, #7648A4, #4844F4) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}