@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 34, 34;
  --background-end-rgb: 0, 0, 0;
}

::selection {
  background-color: rgba(212, 212, 212, 0.164);
  color: rgb(223, 240, 255);
}

@font-face {
  font-family: Clash;
  src: url("/fonts/ClashDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: Clash-Semi;
  src: url("/fonts/ClashDisplay-Semibold.otf") format("opentype");
}

.font-clash {
  font-family: Clash, sans-serif;
}

.font-clash-semi {
  font-family: Clash-Semi, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #1d2948;
  background-image: linear-gradient(
    112deg,
    #1d2948 0%,
    #141d33 25%,
    #0f1628 38%,
    #050a16 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-bg {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(30, 30, 30, 1) 100%
  );
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-repeat: repeat;
}

