@font-face {
  font-family: 'digital';
  src: url('/fonts/digital.ttf') format('truetype'); 
  font-weight: bold;
  font-size: 100px;
}

.clockCard {
  border: 4px solid #A784BD;
  border-radius: 10px;
}